
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top:5px;
	margin-left:5px;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	border: solid #000000 1px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	border: solid #000000 1px;
}

.style1 {
	font-size: 14px;
	font-weight: bold;
}

.prefeitura {
	font-size:18px;
	font-weight:bold;
	color:#000000;
}

.secretaria {
	font-size:14px;
	font-weight:bold;
	color:#000000;
}